<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registos de Exames Médicos Desportivos</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Registos de Exames Médicos Desportivos</h1>

        <h2>Indicadores estatísticos</h2>

        <ul>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
            <li>
                <h3>{{stats.gender_distrib_year['name']}}</h3>

                <a href="{{stats.gender_distrib_year['name']}}.html">Ver esta estatística!</a>
            </li>
        </ul>

    </body>
</html>