* {
    margin: 0 auto;
    font-family: 'Times New Roman', serif;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

li {
    list-style: none;
    margin-top: 1.5rem;
    text-align: left;
    padding: 0.5rem;
    border: black solid 0.05rem;
}

li:last-child {
    margin-bottom: 1.5rem;
}

li b {
    color: red;
    padding-right: 50rem;
}